.main{
    cursor: default;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: max-content;
}

.cont {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: white;
    margin-top: 2vh;
}

.left a{
    text-decoration: none;
    color: rgb(196, 188, 188);
}

.right {
    text-align: center;
    color: white;
}

.right h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.right ul {
    list-style-type: none;
    padding: 0;
}

.right ul li {
    margin-bottom: 30px;
}

.right ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center text and image horizontally */
    gap: 10px; /* Space between text and icon */
}

.social-item span {
    font-size: 18px;
}

.right ul li:hover{
    text-decoration: underline;
}

@media (max-width: 786px){
    .main{
        flex-direction: column;
    }
    .left ,.right{
        width: 90vw;
    }
    .cont{
        font-size: 15vw;
    }
}
