.main{
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.left , .right {
    
    /* height: 100vh; */
    width: 48%;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
    text-align: center;

}

iframe{
    /* height: 100; */
    background-color: black;
    border: 4px solid rgb(19, 12, 119);
    border-radius: 30px; /*round the edges */
    box-shadow: 10px 20px 15px rgb(19, 12, 119); /* drop shadow */;
    box-sizing: border-box;
    
}