/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a1a82;
    color: white;
    position: fixed;
    width: 100%;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

/* Navbar Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hamburger Icon Styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}


.main{
    padding-top: 60px;
}

.left {
    max-width: 1200px; /* Set max width for wider content */
    margin: 0 auto; /* Center align within the page */
    padding: 20px; /* Add padding for spacing */
}

body{
    background-color: rgb(31, 20, 175);
}


nav ul li:hover{
    font-size: 20px;
    text-decoration: underline;
}

/* Mobile View */
@media (max-width: 786px) {
    header{
        justify-content: space-around;
        flex-direction: row;
    }

    .nav-links {
        display: none; /* Hide nav links by default */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust according to header height */
        right: 20px;
        background-color: #1a1a82;
        border-radius: 8px;
        width: 200px;
        padding: 10px;
        text-align: right;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .hamburger {
        display: flex; /* Show hamburger on mobile */
        
    }

    .navbar.active .nav-links {
        display: flex; /* Show nav links when active */
        
    }

    .left ,.right {
        text-align: left;
    }
    .left {
        padding: 0px;
        width: 100%; /* Full width on mobile */
    }
}